<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eazy Eatz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Eazy Eatz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
              <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Recipe</a>
              </li>
              <li><a class="dropdown-item" href="#" onclick="">Edit Recipe</a></li>
            </ul>
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/">Home</a></li>
              <li><a class="dropdown-item" href="https://crimsonhog.github.io/Sprint-Biggie/" target="_blank">The Mission</a></li>
              <li><a class="dropdown-item" href="#" target="_blank">Creators</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1><%= recipe.recipeName %></h1>
        <p><%= recipe.author %></p>
        <p><%= recipe.time %></p>
        <div class="mt-4">
          <h5>Ingredients:</h5>
          <ul class="list-group">
            <!--  print each ingredient in the array -->
            <% recipe.ingredients.forEach(function(ingredient) { %>
              <li class="list-group-item list-group-item-action"><%= ingredient %></li>
            <% }) %>
          </ul>
        </div>
        <div class="mt-4">
          <h5>Steps:</h5>
          <ol class="list-group list-group-numbered">
            <!--  print each ingredient in the array -->
            <% recipe.steps.forEach(function(step) { %>
              <li class="list-group-item list-group-item-action"><%= step %></li>
            <% }) %>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Recipe Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this recipe?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="POST" action="/delete">
            <input type="hidden" name="recipe" value="<%= recipe._id %>">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center py-3">
    <div class="container">
      <p class="m-0">Eazy Eatz &copy; 2024</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>